.style-for-chart{
    width: 100%;
    height: 100%;
    /* overflow: scroll; */
}
.style-for-pie-chart{
    max-height: 355px;
    padding: 25px;
    /* width: 100%; */
}
.small-chart{
    order: 1px solid;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

a.no-outline:focus{
    outline: none !important;
}
